/********************* userWebsiteCustomization.css **************************

 This is the user-customizable style-sheet for Pathway Tools.  By default, it
 is empty.  Sites that run Pathway Tools as a web server and wish to customize
 the styles should modify this file, not style.css -- any definitions here
 will override those in style.css.  Keep a copy of your
 userWebsiteCustomization.css file in another location outside the Pathway
 Tools root before doing a new Pathway Tools installation.
                                                                        
 Simple customization suggestions:

-- To add a logo to the banner:
   #ptbanner a.logo {
     background-image: url("/logo.gif");
     background-repeat: no-repeat;
   }

-- To change the banner color:
   #ptbanner { 
     background-color: #xxxxxx;
   }

-- To change the toolbar color:
   div.yuimenubarnav div.bd li.yuimenubaritem, div.bd ul.toolbar {
     background-color:  #xxxxxx;
   }

-- To change the color of the box around the Search and Tools pull-down menus:
   div.bd div.withDatabase, div.yuimenubarnav div.bd li.yuimenubaritem-selected {
     background-color: #xxxxxx;
     border-left:  4px solid #yyyyyy;
   }

   div.bd div.withDatabase {
     border-right:  3px solid #yyyyyy;
     border-left:   3px solid #yyyyyy;
     border-bottom: 3px solid #yyyyyy;
   }

 Last modification date of this file: $Date: 2009/02/11 19:31:27 $

 *************************************************************************/
   div.bd div.withDatabase, div.yuimenubarnav div.bd li.yuimenubaritem-selected {
     background-color: 006600;
     border-left:  4px solid #00BBBB;
   }
   div.yuimenubarnav div.bd li.yuimenubaritem, div.bd ul.toolbar {
     background-color:  #006600;
   }
   div.bd div.withDatabase {
     border-right:  3px solid #008000;
     border-left:   3px solid #33FF66;
     border-bottom: 3px solid #33FF33;
   }
   #ptbanner { 
     background-color: #FFFFFF;
   }


.sb_bottom
{
	clear: left;
	position: relative;
	margin-top: 100px;
	margin-right: 300px;
	width:970px;
	text-align: center;
}
.largegreen {
    font-size: 28pt; 
    font-weight:bold; 
    color: #006600;
}
.smallgreen {
    font-size: 18pt; 
    font-weight:bold; 
    color: #006600;
}

.sublink
{
	line-height: 1.3;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
	
}
.sublink p
{
    line-height: 1.3;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0px; 
	text-indent: -10px;
}
body 
{ 
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #FFFFFF;
    margin-left: 0;
    margin-top: 0;
    font-weight: normal;
    padding: 0px;
}
pre 
{
    font-family: monospace;
    font-size: 12pt;
}
p 
{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}
td 
{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
b 
{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
ul 
{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}
ol 
{
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
}

h1 
{
    font-family: Helvetica, sans-serif;
    color: #006600;
    font-size: 11pt;
}
h2 
{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-size: 12pt;
}
h3 
{
    font-family: Helvetica, sans-serif;
    font-size: 13pt;
    color: #000000;
}
h4 
{
    font-family: Helvetica, sans-serif;
    font-size: 14pt;
    color: #000000;
}
h5 
{
    font-family: Helvetica, sans-serif; 
    padding: 0px;
    font-size: 16pt;
    color: #000000; 
}
dl
{
    padding-left: 10px;
}  
dd
{
    padding-left: 0px;
}
a:link 
{
    text-decoration: none;
    color: #006600;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
a:visited 
{
    text-decoration: none;
    color: #006600;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
a:active 
{
    text-decoration: none;
    color: #006600;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
a:hover 
{
    text-decoration: none;
    color: #6666FF;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
.smallbold {
    font-size: 12pt;
    font-family: Helvetica, Helvetica, sans-serif;
    font-weight: bold;
}
.picturebar
{	
    width: 300px;
	float: right;
}
.main
{
	padding:0pt;
	font-size: 12pt;
	font-weight: normal;
	padding-left: 10px;
}
.main p
{
  font-family: Helvetica, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  padding-left: 5px;
}
.main a
{
	padding-left: 0pt;
	font-weight: normal;	
}
.main td
{
    font-family: Helvetica, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    padding-left: 0px;
}
.main font
{
    font-family: Helvetica, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 10px;
    color: #000000;
}
